/* fix vertical alignment */

@font-face {
    font-family: big-john;
    src: url(fonts/big-john.otf);
}

@font-face {
    font-family: slim-john;
    src: url(fonts/slim-john.otf);
}

@font-face {
    font-family: amble;
    src: url(fonts/amble.ttf);
}
p {
    font-size: 16px;
    font-weight: lighter;
    font-family: "amble";
    margin: 40px 0;
}

hr {
    width: 40px;
}

h1, h2{
    font-family: "big-john";
    margin-bottom: 40px;
}


.hr--black {
    border-color: black;
}

.section0 .glyphicon {
    font-size: 20px;
    padding-left: 20px;
}
.text--centered {
    text-align: center;
} 

.section0 {
    height: 800px;
    width: 100%;
    color: white;
    padding-top: 10px;
}
.section0__bg {
    background-image: url("images/t1-1.jpg");
    background-size: cover;
}
.section0 h1 {
    margin-top: 0;
}

.section1 {
    padding-top: 200px;
}

.mouse {
    width: 30px;
    padding-top: 300px;
    filter: brightness(0) invert(1);
}

.section2, .section6 {
    height:500px;
    width: 100%;
    padding-top: 150px;

}

.section3, .section5 {
    height: 500px;
    width: 100%;
    color: white;
    padding-top: 170px;
}
.section3 h3, .section5 h3 {
    border: white solid 3px;
    padding: 15px 40px;
    display: inline-block;
}

.section3__bg {
    background-image: url("images/t1-3.jpg");
    background-size: cover;
}

.section4 {
    height: 1000px;
    padding-top: 50px;
}

.section4 h4 {
    border: black solid 3px;
    padding: 15px 40px;
    display: inline-block;
    margin-top: 40px;
}

ul {
    margin: 40px 0;
}
li {
    display: inline;
    list-style-type: none;
    padding-right: 30px;
    text-transform: uppercase;
    font-weight: 300;
}

a {
    color: black;
}
.active {
    font-weight: bold;
}

.grid{
    padding: 10px;
    width: 270px;
}

.section5__bg {
    background-image: url("images/t1-5.jpg");
    background-size: cover;
}
.section6 {
    background-color:#f4f4f4;
    
}

.logos img {
    padding-right: 70px;
    height: 40px;
    margin-top: 40px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.section7 {
    margin: 80px 0px;
}
.team {
    position: relative;
     display: block;
     max-width: 1170px;
     margin: 0 auto;
}

.team img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.team1, .team2, .team3, .team4 {
    width: 270px;
    float: left;
    margin: 10px;
}

.team1{
    position: relative;
}

.link-icon{
    position: absolute;
    top: 5%;
    right: 15px;
}
.team1-container {
    position: absolute;
    top: 80%;  
    right: 0;
    left: 0; 
}

.team1 p, .team1 h5 {
    color: white;
    margin: 0px 0px;
}
.team4 {
    border: black solid 1px;
    width: 270px;
    height: 360px;
    padding-top: 60px;
}

.team p {
    font-size: 20px;
    font-family: "big-john";
}

.team4 h4 {
    border: black solid 3px;
    display: inline-block;
    padding: 10px 60px;
}

video {
    width: 100%;
    height: auto;
}

.section8 {
    position: relative;
}

.section8 .glyphicon {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    transform: translateY(-50%);
    display: block;
    color: #fff;
    font-size: 60px;

}


